# Your WiFi SSID and Password
wifi_ssid: "YOUR_WIFI_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"

# API Encryption Key (Generate one with `esphome generate-key`)
api_encryption_key: "YOUR_ENCRYPTION_KEY"

# OTA Password
ota_password: "YOUR_OTA_PASSWORD"

# Timezone string (e.g., EST5EDT,M3.2.0,M11.1.0)
# see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
timezone: "EST5EDT,M3.2.0,M11.1.0"
